.container{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.label{
  font-size: var(--text-size-medium);
  font-weight: 300;
}

.heading{
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title{
  font-size: var(--text-size-large);
  font-weight: 400;
}
.sort-icon{
  /*flex: 0 0 auto;*/
  display: flex;
  align-items: center;
  justify-content: center;
}
.sort-field{
  /*flex: 1 1 auto;*/
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sort-by-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
}

.filters-grid {
  display: flex;
  gap: 20px;
  width: 100%;
  padding-top: 10px;
  box-sizing: border-box;
}

.filter-cell {
  display: grid;
  grid-template-columns: auto auto minmax(60px, 1fr) auto minmax(60px, 1fr);
  align-items: center;
  column-gap: 8px;
}


.input-field {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}



