<div class="container">

  <div class="heading">
    <span class="title" (click)="changeLocale()">Filters</span>
  </div>
  <div class="sort-by-container">
    <mat-form-field appearance="outline" class="sort-field" subscriptSizing="dynamic">
      <mat-label class="label">Sort by:</mat-label>
      <mat-select [value]="galleryService.sortBy()" (valueChange)="setSortBy($event)">
        <mat-option [value]="{ type: 'AverageRating', order: 'ASC' }">
          Lower rating
        </mat-option>
        <mat-option [value]="{ type: 'AverageRating', order: 'DESC' }">
          Higher rating
        </mat-option>
        <mat-option [value]="{ type: 'AddedCount', order: 'ASC' }">
          Less popular
        </mat-option>
        <mat-option [value]="{ type: 'AddedCount', order: 'DESC' }">
          More popular
        </mat-option>
        <mat-option [value]="{ type: 'PublishedAt', order: 'ASC' }">
          Older
        </mat-option>
        <mat-option [value]="{ type: 'PublishedAt', order: 'DESC' }">
          Newer
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
<div class="expansion-fields">
  <mat-expansion-panel class="expansion-panel" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Rating</mat-panel-title>
    </mat-expansion-panel-header>

    <div class="range-wrapper">
      <!-- строка с инпутами -->
      <div class="range-row">
        <mat-form-field appearance="outline" class="range-input" subscriptSizing="dynamic">
          <input
            matInput
            type="number"
            [(ngModel)]="galleryService.ratingRange().from"
            (ngModelChange)="setRatingFrom($event)"
            placeholder="0"
          />
        </mat-form-field>

        <span class="dash">—</span>

        <mat-form-field appearance="outline" class="range-input" subscriptSizing="dynamic">
          <input
            matInput
            type="number"
            [(ngModel)]="galleryService.ratingRange().to"
            (ngModelChange)="setRatingTo($event)"
            placeholder="5"
          />
        </mat-form-field>
      </div>
      <mat-slider min="0" max="5" step="1" class="range-slider">
        <input matSliderStartThumb (valueChange)="setRatingFrom($event)"
               [value]="galleryService.ratingRange().from ?? 0">
        <input matSliderEndThumb (valueChange)="setRatingTo($event)" [value]="galleryService.ratingRange().to   ?? 5">
      </mat-slider>


    </div>
  </mat-expansion-panel>

  <mat-expansion-panel class="expansion-panel">
    <mat-expansion-panel-header>
      <mat-panel-title>Added count</mat-panel-title>
    </mat-expansion-panel-header>

    <div class="range-wrapper">
      <!-- строка с инпутами -->
      <div class="range-row">
        <mat-form-field appearance="outline" class="range-input" subscriptSizing="dynamic">
          <input
            matInput
            type="number"
            min="0"
            max="5"
            [(ngModel)]="galleryService.addedCountRange().from"
            (ngModelChange)="setAddedFrom($event)"
            placeholder="0"
          />
        </mat-form-field>

        <span class="dash">—</span>

        <mat-form-field appearance="outline" class="range-input" subscriptSizing="dynamic">
          <input
            matInput
            min="0"
            max="5"
            type="number"
            [(ngModel)]="galleryService.addedCountRange().to"
            (ngModelChange)="setAddedTo($event)"
            placeholder="100000"
          />
        </mat-form-field>
      </div>

      <mat-slider min="0" max="100000" step="10" class="range-slider">
        <input matSliderStartThumb (valueChange)="setAddedFrom($event)"
               [value]="galleryService.ratingRange().from ?? 0">
        <input matSliderEndThumb (valueChange)="setAddedTo($event)" [value]="galleryService.ratingRange().to ?? 100000">
      </mat-slider>
    </div>

  </mat-expansion-panel>

  <mat-expansion-panel class="expansion-panel">
    <mat-expansion-panel-header>
      <mat-panel-title>Publishing date</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field appearance="outline" class="date-range-field">
      <mat-label>Published date</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate
               [value]="galleryService.publishedAtRange().from"
               (dateChange)="setPublishedFrom($event.value)"
               placeholder="From">
        <input matEndDate
               [value]="galleryService.publishedAtRange().to"
               (dateChange)="setPublishedTo($event.value)"
               placeholder="To">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

    </mat-form-field>
  </mat-expansion-panel>

  <mat-expansion-panel class="expansion-panel">
    <mat-expansion-panel-header>
      <mat-panel-title>Tags</mat-panel-title>
    </mat-expansion-panel-header>
    <span>NOT SUPPORTED YET</span>
  </mat-expansion-panel>
  </div>
  <button mat-flat-button class="reset-btn" (click)="reset()">
    <mat-label class="reset-btn-label">Reset</mat-label>
  </button>
</div>
