.profile-container {
  display: flex;
  flex-direction: row;
  gap: 32px;
  padding: 24px;
  height: 100%;
  box-sizing: border-box;
}

.profile-container app-profile-info {
  flex: 0 0 auto;
}

.profile-container app-profile-tabs {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
