<div class="menu-container" [ngStyle]="{'width.px': width, 'height.px': height}">
  <mat-icon matTooltip="Undo" class="menu-button" (click)="undo()">undo</mat-icon>
  <mat-icon matTooltip="Redo" class="menu-button" (click)="redo()">redo</mat-icon>
  <mat-icon matTooltip="Save" class="menu-button" (click)="{}">save</mat-icon>
  <mat-icon matTooltip="Center grid" class="menu-button" (click)="centerGrid()">location_on</mat-icon>
  <mat-icon matTooltip="Zoom in" class="menu-button" (click)="zoomIn()">add</mat-icon>
  <mat-icon matTooltip="Zoom out" class="menu-button" (click)="zoomOut()">remove</mat-icon>


  <!-- Тогглы для отображения границ и направлений -->
  <mat-icon
    matTooltip="Panel borders"
    class="menu-button"
    (click)="toggleBorders()"
    [ngClass]="{'active-icon': (settingsService.setting$ | async)?.showPanelBorders}">
    crop_free
  </mat-icon>
  <mat-icon
    matTooltip="Panel directions"
    class="menu-button"
    (click)="toggleDirections()"
    [ngClass]="{'active-icon': (settingsService.setting$ | async)?.showPanelDirections}">
    keyboard_double_arrow_up
  </mat-icon>
</div>


