.menu-button {
  color: white;
}

.menu-button:hover {
  color: var(--accent-2);
}

/* Активный элемент */
.active-icon {
  color: var(--accent-2) !important; /* Например, яркий акцентный цвет */
}


.menu-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px 20px;
  align-items: center;
  box-sizing: border-box;
  background: var(--surface-color);
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.control-icons{
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

.frame-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}
.flip-horizontal {
  transform: scaleX(-1);
  /* при необходимости явно выставьте точку поворота */
  transform-origin: center center;
}
.editable-text {
  width: 40px;
  background: transparent;
  border: none;
  color: white;
  text-align: center;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
  outline: none;
  font-size: 16px;
}
.editable-text:focus {
  outline: none;
  /* Можно задать, например, border-bottom: 1px solid white; */
}

