<div class="inspector-container" [ngStyle]="{'height.px': height, 'width.px': width}">
  <ng-container [ngSwitch]="settingsService.setting.mode">
    <ng-container *ngSwitchCase="Mode.SpectatorMode">
      <app-spectator [width]="width" [height]="height"  [ngStyle]="{'height.px': height, 'width.px': width}"></app-spectator>
    </ng-container>
    <ng-container *ngSwitchCase="Mode.EditorMode">
      <app-spectator [width]="width" [height]="height" [ngStyle]="{'height.px': height, 'width.px': width}"></app-spectator>
    </ng-container>
    <ng-container *ngSwitchCase="Mode.DeleteMode">
      <app-spectator [width]="width" [height]="height" [ngStyle]="{'height.px': height, 'width.px': width}"></app-spectator>
    </ng-container>
    <ng-container *ngSwitchCase="Mode.DrawingMode">
      <app-drawing [ngStyle]="{'height.px': height, 'width.px': width}"></app-drawing>
    </ng-container>
    <ng-container *ngSwitchCase="Mode.ImageAttaching">
      <app-image-attaching [ngStyle]="{'height.px': height, 'width.px': width}"></app-image-attaching>
    </ng-container>

  </ng-container>


</div>
