/* spectator.component.css */
:host {
  display: block;        /* или flex/whatever у вас там */
  width: 100%;
  height: 100%;
  overflow-x: hidden;    /* запретить горизонтальный скролл внутри компонента */
  overscroll-behavior-x: none; /* опционально: запретить «подёргивания» на тачах */
}

.canvas{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 0;
}
.canvas-area{
  display: inline-flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: fit-content;
}

.menu-inspector-canvas-container{
  display: inline-flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 0;
  width: fit-content;
}
