<div class="profile-tabs-container">
  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Search Configurations</mat-label>
    <input
      matInput
      [(ngModel)]="searchTerm"
      placeholder="Type to filter..."
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>


  <mat-tab-group [selectedIndex]="selectedTab"
                 (selectedIndexChange)="onTabChange($event)">
    <mat-tab *ngFor="let t of tabs" [label]="t"></mat-tab>
  </mat-tab-group>

  <div class="config-list" *ngIf="filteredConfigs.length>0">
    <app-configuration-card
      *ngFor="let cfg of filteredConfigs"
      [isOwnProfile]="isOwnProfile"
      [config]="cfg">
    </app-configuration-card>
  </div>
  <div *ngIf="filteredConfigs.length==0 && selectedTab==0" class="empty-configs-container">
    <button mat-fab extended class="create-button" routerLink="/editor">
      <mat-icon>add</mat-icon>
      <mat-label>Create configuration</mat-label>
    </button>
  </div>

</div>
