<!-- new-password.component.html -->
<div class="container">
  <mat-card class="reset-card">
    <h2 class="title">Password reset</h2>
    <p class="subtitle">Enter new password</p>

    <mat-form-field appearance="outline" class="full-width">
      <input
        matInput
        type="password"
        placeholder="New password"
        [ngModel]="newPassword()"
        (ngModelChange)="newPassword.set($event)"
      >
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <input
        matInput
        type="password"
        placeholder="Repeat password"
        [ngModel]="confirmPassword()"
        (ngModelChange)="confirmPassword.set($event)"
      >
    </mat-form-field>

    <p class="success-message" *ngIf="passwordReset()">
      Success!
    </p>

    <button
      mat-raised-button
      color="primary"
      class="full-width"
      (click)="submitNewPassword()">
      <mat-label>Reset</mat-label>
    </button>
  </mat-card>
</div>

