app-header {
  position: sticky;
  top: 0;
  z-index: 1400;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

app-header {
  position: sticky;
  top: 0;
  z-index: 1400;
}

main {
  flex: 1;
  overflow-y: auto;
  position: relative;
}
