<div class="wrapper">
<div class="container" *ngIf="configurationService.configurationData() as data; else loading">

  <!-- NAME -->
  <div class="editable-container" [ngStyle]="{'max-height.px': 44}">
    <span
      #editableName
      [attr.contenteditable]="!isInGalleryMode()"
      class="editable-text title-editable"
      (blur)="saveName(editableName.innerText)"
      (keydown)="onNameKeydown($event, editableName.innerText)"
    >{{ data.name }}</span>
      <mat-divider class="divider"></mat-divider>
  </div>


  <!-- DESCRIPTION -->
  <div class="editable-container" [ngStyle]="{'max-height.px': height*0.4}">
    <h3 class="desc-title">Description:</h3>
    <p
      #editableDesc
      [attr.contenteditable]="!isInGalleryMode()"
      class="editable-text edit-desc"
      (blur)="saveDesc(editableDesc.innerText)"
      (keydown)="onDescKeydown($event,editableDesc.innerText)"
    >{{ data.description }}</p>
      <mat-divider class="divider"></mat-divider>
  </div>

  <div class="toggle-container" *ngIf="!isInGalleryMode()">
      <span>Use mini preview:</span>
    <mat-slide-toggle class="toggle-slide"  [checked]="data.useMiniPreview"
                      (change)="toggleMiniPreview($event.checked)">
    </mat-slide-toggle>
  </div>


</div>
</div>
<ng-template #loading>
  <p>Загрузка…</p>
</ng-template>
