<div class="container">
  <div class="lion-container">
    <div class="grid-container">
      <div class="grid-row" *ngFor="let row of gridItems">
        <div class="cell" *ngFor="let color of row" [ngStyle]="{'background-color': color}">
        </div>
      </div>
    </div>
  </div>

  <div class="text-container">
    <h1>{{'HOME_SCREEN_TITLE_H1' | translate}}</h1>
    <p>{{'HOME_SCREEN_TITLE_P' | translate}}</p>
    <button class="get-started-btn" (click)="load()">{{'GET_STARTED' | translate}}</button>
  </div>
</div>

