.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-form {
  background-color: var(--surface-color);
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: 0 10vw;
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

h2 {
  text-align: center;
  margin: 0;
}

mat-form-field {
  width: 100%;
}

.auth-options {
  display: flex;
  justify-content: space-between;
  font-size: var(--text-size-small);
}

.submit-button button {
  width: 100%;
  border-radius: 8px;
}

@media (max-width: 768px) {
  h2 {
    font-size: var(--text-size-medium);
  }

  mat-form-field {
    font-size: var(--text-size-xsmall);
  }

  button[type="submit"] {
    font-size: var(--text-size-xsmall);
  }
}
