<!-- reset-password.component.html -->
<div class="container">
  <mat-card class="reset-card">
    <h2 class="title">Password recovery</h2>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput
             type="email"
             placeholder="your_email@flexypixel.com"
             [ngModel]="email()"
             (ngModelChange)="email.set($event)"
      >
    </mat-form-field>

    <!-- это сообщение скрыто по умолчанию и появляется, когда emailSent == true -->
    <p class="success-message" *ngIf="emailSent()">
      We sent an email to this address with instructions
    </p>

    <button mat-raised-button
            color="primary"
            class="full-width"
            (click)="sendResetEmail()">
      <mat-icon>email</mat-icon>
      <mat-label>Send</mat-label>
    </button>
  </mat-card>
</div>

