<mat-card class="profile-info-card">
  <div
    class="avatar-wrapper"
    (mouseenter)="hover = true"
    (mouseleave)="hover = false"
  >
    <img [src]="user.avatarUrl" alt="Avatar" class="avatar"/>

    <!-- Прямоугольный оверлей теперь внутри wrapper -->
    <div
      *ngIf="hover"

      class="avatar-overlay"
      (click)="fileInput.click()"
    >
      <mat-icon>edit</mat-icon>
    </div>

    <input
      #fileInput
      type="file"
      accept="image/png, image/jpeg, image/gif"
      hidden
      (change)="onAvatarSelected($event)"
    />
  </div>
  <div class="info-section" *ngIf="isEditing">
    <mat-form-field *ngIf="isEditing" appearance="outline" class="edit-inputs">
      <mat-label>Name</mat-label>
      <input
        matInput
        [(ngModel)]="editedName"
        placeholder="{{user.displayName}}"
      />
    </mat-form-field>
    <mat-form-field appearance="outline" *ngIf="isEditing">
      <mat-label>Bio</mat-label>
      <textarea
        matInput
        [(ngModel)]="editedBio"
        cdkTextareaAutosize
        cdkAutosizeMinRows="10"
        cdkAutosizeMaxRows="10"
        placeholder="{{user.bio ? user.bio : &quot;Put your bio here&quot;}}">
  </textarea>
    </mat-form-field>
    <div class="btn-container">
      <button
        class="editing-btn"
        mat-raised-button
        (click)="isEditing = false;"
      >
        <mat-label>Cancel</mat-label>
      </button>
      <button
        class="editing-btn"
        mat-flat-button
        (click)="onUpdate()"
      >
        <mat-label>Save</mat-label>
      </button>
    </div>
  </div>
  <div class="info-section" *ngIf="!isEditing">
    <h2>{{ user.displayName }}</h2>


    <div class="username">
      #{{ user.username }}
    </div>

    <div class="verified" *ngIf="user.isVerified">
      <mat-icon color="primary">verified</mat-icon>
      Verified
    </div>

    <ng-container *ngIf="isOwnProfile">

      <div class="role">
        <mat-icon>security</mat-icon>
        {{ user.role }}
      </div>

      <div class="created-at">
        <mat-icon>calendar_today</mat-icon>
        Joined on {{ user.createdAt | date:'dd.MM.yyyy' }}
      </div>


      <button (click)="isEditing = true;" mat-raised-button color="primary" class="edit-btn">
        <mat-icon>edit</mat-icon>
        Edit Profile
      </button>
      <div class="bio ">
        <mat-icon>book</mat-icon>

        <p class="bio-text">
          {{
            user.bio === '' || user.bio == null
              ? 'This user has not written a biography yet. In the meantime, feel free to explore their public configurations and animations. ' +
              'When they’re ready to share their story—perhaps their inspirations, goals, ' +
              'or favorite LED effects—it will appear here. Stay tuned for updates, and don’t hesitate to reach out if you’d like to connect!'
              : user.bio
          }}
        </p>


      </div>

    </ng-container>
  </div>

</mat-card>
