<mat-card class="profile-info-card">
  <div class="avatar-section">
    <img [src]="user.avatarUrl" alt="Avatar" class="avatar"/>
  </div>

  <div class="info-section">
    <h2>{{ user.displayName }}</h2>

    <div class="username">
      #{{ user.username }}
    </div>

    <div class="verified" *ngIf="user.isVerified">
      <mat-icon color="primary">verified</mat-icon>
      Verified
    </div>

    <ng-container *ngIf="isOwnProfile">

      <div class="role">
        <mat-icon>security</mat-icon>
        {{ user.role }}
      </div>

      <div class="created-at">
        <mat-icon>calendar_today</mat-icon>
        Joined on {{ user.createdAt | date:'dd.MM.yyyy' }}
      </div>


      <button mat-raised-button color="primary" class="edit-btn">
        <mat-icon>edit</mat-icon>
        Edit Profile
      </button>
      <div class="bio">
        <mat-icon>book</mat-icon>

        <p class="bio-text">
          {{
            user.bio === '' || user.bio == null
              ? 'This user has not written a biography yet. In the meantime, feel free to explore their public configurations and animations. ' +
              'When they’re ready to share their story—perhaps their inspirations, goals, ' +
              'or favorite LED effects—it will appear here. Stay tuned for updates, and don’t hesitate to reach out if you’d like to connect!'
              : user.bio
          }}
        </p>


      </div>
    </ng-container>
  </div>
</mat-card>
