@use '@angular/material' as mat;

$flexy-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$red-palette
  )
));
html {
  @include mat.core();
  @include mat.all-component-themes($flexy-theme);
}
:root {
  --primary-color: #708D81;
  --secondary-color: #F4D58D;
  --text-color: #FFFFFF;
  --surface-color: #181818;
  --accent-1: #001427;
  --accent-2: #BF0603;
  --accent-3: #8D0801;

  --text-size-large: 24px;
  --text-size-medium: 18px;
  --text-size-small: 16px;
  --text-size-xsmall: 12px;
  --text-size-xxsmall: 10px;
  --text-size-xxxsmall: 8px;

  --hue: 223;
  --bg: hsl(var(--hue), 10%, 90%);
  --fg: hsl(var(--hue), 10%, 10%);


  --mdc-theme-primary: #f60000;
  --mdc-theme-on-primary: #0029ff;

  --mdc-theme-secondary: #0029ff;
  --mdc-theme-on-secondary: #0029ff;

  --mdc-theme-background: #0029ff;            /* ваш фон */
  --mdc-theme-on-background: #0029ff;

  --mdc-theme-surface: #0029ff;
  --mdc-theme-on-surface: #0029ff;

  --mdc-theme-error: #0029ff;
  --mdc-theme-on-error: #0029ff;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  background: linear-gradient(90deg, #4b3126, #a6755b, #e8be89);

  font-family: Unbounded, sans-serif;
  font-weight: 200;
  font-size: var(--text-size-small);
  line-height: 1.5;
  color: var(--text-color);

}

a, h1, h2, h3, h4, h5, h6, p {
  text-decoration: none;
  color: var(--text-color);
}

.mat-mdc-snack-bar-container.error-snackbar {
  --mdc-snackbar-container-color: #a52222;
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}

.mat-mdc-snack-bar-container.success-snackbar {
  --mdc-snackbar-container-color: #47a60e;
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}


