@use '@angular/material' as mat;
@use "./app/styles/theme-colors";
html {
  color-scheme: light dark;
  @include mat.theme((
    color: theme-colors.$primary-palette,
    //color: mat.$azure-palette,
    typography: Unbounded,
    font-weight: 200,
    theme-type: light,
    density: 0
  ));
}

.mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align.mat-mdc-form-field-subscript-dynamic-size {
  display: none !important;
  height: 0       !important;
  margin: 0       !important;
  padding: 0      !important;
  overflow: hidden!important;
  line-height: 0  !important;
  min-height: 0   !important;
}

:root {
  --primary-color: #708D81;
  --secondary-color: #F4D58D;
  --text-color: #FFFFFF;
  --surface-color: #181818;
  //--surface-color: #d8ad64;
  --accent-1: #001427;
  --accent-2: #BF0603;
  --accent-3: #8D0801;

  --text-size-large: 24px;
  --text-size-medium: 18px;
  --text-size-small: 16px;
  --text-size-xsmall: 12px;
  --text-size-xxsmall: 10px;
  --text-size-xxxsmall: 8px;

  --hue: 223;
  --bg: hsl(var(--hue), 10%, 90%);
  --fg: hsl(var(--hue), 10%, 10%);

}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  background: linear-gradient(90deg, #4b3126, #a6755b, #e8be89);
  color: var(--text-color);
  font-family: Unbounded, sans-serif;
  font-weight: 200;
  font-size: var(--text-size-small);
  line-height: 1.5;


}

a, h1, h2, h3, h4, h5, h6, p {
  text-decoration: none;
  color: var(--text-color);
}

.mat-mdc-snack-bar-container.error-snackbar {
  --mdc-snackbar-container-color: #a52222;
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}

.mat-mdc-snack-bar-container.success-snackbar {
  --mdc-snackbar-container-color: #47a60e;
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;

}


