
/* app.component.css */
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-form {
  background-color: var(--surface-color);
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 0 10vw;
  max-width: 400px; /* Максимальная ширина формы */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.loginInput{
  width: 100%;
}

.password-field {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 0;
}

button {
  width: 100%;

}
.signInButtonContainer{
  padding-top: 20px;
}

.options{
  display: flex;
  justify-content: space-between;
  font-size: var(--text-size-small);
  padding: 0;
  width: 100%;
}
.password-option{
  margin: 0;
  padding: 0;
}

.signInButtonContainer button{
  border-radius: 10px;
  background: white;
}
@media (max-width: 768px) {
  .signInButtonContainer button {
    font-size: var(--text-size-xsmall);
  }
  h2{
    font-size: var(--text-size-medium);
  }
  .matLabel{
    font-size: var(--text-size-xsmall);
  }
  .matInput{
    font-size: var(--text-size-xsmall);
  }
}
